// // If you have to use other language but English,
// // you need setting document text format to utf-8.
// // http://blog.shg25.com/?p=97
// @import '~stylus_style/styles/app.styl'
@charset 'utf-8'
@import url('//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css')
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro')
@import '_base.styl'
@import '_reboot.styl'
// @import '_fonts.styl'
@import '_transition.styl'

:root
  --primary-color #c42330
  --button-hover #4888f2
  --black #2d2d2d
  --brown-grey #888888
  --brownish-grey #666666
  --brown-grey-two #adadad
  --very-light-pink #cccccc
  --very-light-pink-two #dddddd
  --very-light-pink-three #ebebeb
  --white #f4f4f4
  --white-two #f9f9f9
  --lipstick #c42330
  --light-rose #f3d3d6
  --pale-brown #a98c6c
  --pale #fcebd4
  --toupe #cba377
  --off-white: #fdf5e9
  --splash #b9222b
  --splash-logo #f9e9ea